@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,500;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');
.app {
  width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Barlow', sans-serif;
}

.react-calendar__navigation button, .react-calendar__viewContainer, .coworking-detail select option {
  color: black
}

.StripeElement {
  margin: 15px auto;
  padding: 10px 12px;
  color: #32325d;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.product {
  width: 100%;
  max-width: 450px;
  margin: auto;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  overflow: hidden;
}

.btn-pay {
  display: block;
  width: 100%;
  border: none;
  background: linear-gradient( 135deg, rgb(49, 0, 62) 0%, rgb(195, 40, 110) 100%);
  color: #fff;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}

.product-info {
  padding: 0 16px;
}

h3.product-title {
  font-size: 28px;
  margin-bottom: 15px;
}

h4.product-price {
  font-size: 24px;
  margin: 0;
  margin-bottom: 30px;
  color: #777;
  font-weight: 500;
}

@media only screen and (max-device-width: 800px) and (orientation: portrait) {
  #coworking-details-infos {
    padding: 0;
  }
  #coworking-details-infos>div {
    width: 100%;
  }
  #coworking-details-infos>button {
    margin: 10% 0 0;
    width: 100%;
  }
  #login-page>div {
    padding: 25% 10%;
  }
  #login-page>div>h3 {
    text-align: center;
  }
  #login-buttons {
    justify-content: center;
  }
  #login-buttons button {
    width: 100%;
  }
  #login-buttons div {
    margin-top: 10%;
    align-items: center;
  }
  #cgucgv, #mentions-legales, #politique-confidentialite, #a-propos {
    padding: 15px 20px;
  }
  #cgucgv p, #mentions-legales p, #politique-confidentialite p, #a-propos p {
    margin-left: 0;
    margin-right: 0;
  }
}
